{% extends "base.html" %}
{% block market_splash %}
      <div class="media jumbotron tree-container">
        {#
        <a class="pull-left"
           href="http://en.wikipedia.org/wiki/Aikido" target="_blank">
          <img class="media-object img-rounded" src="/img/morihei.jpg"
               alt="morihei" style="width: 195px; height: 240px;">
        </a>
        #}

        <div class="media-body">
          <!--
          <h2 class="media-heading">Bisect</h2>
          <p class="muted">&mdash;verb: to debug using the process of
          elimination.</p>
          -->
          <h2 class="media-heading">Debugging is repetitive and tedious</h2>
          <p class="lead" style="font-size:25px;">Your manual triage efforts are no
          match for the volume of failures that occur in a complex
          continuously integrated system sourcing from hundreds of
          developers.</p>

          <ol class="lead" style="font-size:25px;text-align:left;">
            <li>Use <strong>Bisect</strong> to create a decision tree to triage an issue just once.</li>
            <li>Reuse decision tree by piping incident logs for known failures.</li>
            <li>Never perform a mind numbing debug again.</li>
          </ol>

          <div class="row-fluid" style="border-top:2px dotted #DDD; padding-top:20px">

            <div class="span4">
              <div class="media">
                <span class="media-object rapico">Ç</span>
                <div class="media-body">
                  <p class="lead"><strong>Debug</strong><br>
                  Create decision trees to codify repetitive triage steps<br>
                  <a id="dbg-btn" href="#treeview">Scroll to example</a></p>
                </div>
              </div>
            </div>

            <div class="span4">
              <div class="media">
                <span class="media-object rapico">Ñ</span>
                <div class="media-body">
                  <p class="lead"><strong>Automate</strong><br>
                  Tap into Continuous Integration by using POST API<br>
                  <a id="ci-btn" href="#ci-seg">Scroll to example</a></p>
                </div>
              </div>
            </div>

            <div class="span4">
              <div class="media">
                <span class="media-object rapico">K</span>
                <div class="media-body">
                  <p class="lead"><strong>Communicate</strong><br>
                  Document design intent for benefit of Developers, QA and Customer Engineering.</p>
                </div>
              </div>
            </div>

          </div>

          {#
          <p><strong>Bisect</strong> allows users to test program state against
          expected values. Tests results are used as bisection points
          to narrow-down towards the root-cause of the underlying
          issue.</p>
          <p><strong>Customer engineering, Software Test Teams and New
          developers</strong> can integrate bisection trees with
          continuous integration to quickly classify and narrow-down
          the source of the problem and gain better system
          understanding in the process.</p>
          <p style="margin-top:10px;"><strong>Module owners</strong> employ their grasp of
          system architecture to construct a decision tree by
          arranging bisection point that first test for anomalous
          behavior at the system level and later narrow down to module
          level root-causes.</p>
          <p>One of the fundamental problems in programming is the
          transfer of program design across individuals. The other
          problem is the ability to correct express these concepts to
          other individuals. Bisect aims to address both of these
          issues. </p>
          <p>A true understanding of the underpinnings of the nature
          of things comes from probing and testing for
          hypotheses.</p>
          <p>The nature of Programming consists of
          building functional abstractions. The correctness in
          functionality is verifiable when tested against requirement
          of functionality.</p>
          <p>One of the hardest problems in transferring understanding
          is to guard against misconceptions.</p>
          #}

        </div> <!-- media-body-->

      </div> <!-- media-->
{% endblock market_splash %}


{% block rest_example %}
      <div id="ci-seg" class="seg-container">
        <h3>Automate Bisections</h3>
        <pre>
$curl -d @-  http://www.bisect.cc/bisect/42
log text
first-regex
log text
test-regex-1
log text
^D
{"head": "Yes: Follow-up question?", "id": 3, "desc": "Describe the situation here"}
        </pre>
      </div>
{%endblock rest_example%}
