<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Inorg &middot; Bisect (beta)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bs/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 768px;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      .footer {
        text-align: center;
        padding: 30px 0;
        margin-top: 70px;
        border: 1px solid rgb(229, 229, 229);
        background-color: rgb(245, 245, 245);
      }

      /* Missing from BS */
     .text-left {
        text-align: left;
      }

      .text-right {
        text-align: right;
      }

      .text-center {
        text-align: center;
      }

      /* Inorg Specific CSS*/

      .tree-container {
        border-top: 1px solid rgb(229, 229, 229);
        padding: 10px 0;
      }

      .tree-list {
        border-top: 1px solid rgb(229, 229, 229);
        border-bottom: 1px solid rgb(229, 229, 229);
        margin: 30px 0;
      }

      [contenteditable]:hover:not(:focus) {
        outline: 1px dotted;
      }

      /* Turn on Visibility */
      .on-edit{
        display: none;
      }

      /* Node Formatting */
      .tree-elem-empty {
        opacity:0;
        cursor:default;
      }

      /* Tree Formatting */
      .tree-elem {
        -webkit-box-shadow: 3px 3px 3px #1c1c1c;
        box-shadow: 3px 3px 3px #1c1c1c;
        border-radius:3px;
        margin-top:4px;
        padding:4px;
        text-align:center;
      }

      /* Tree Coloring */
      .tree-top {
        background-color:#ccc;
      }

      .tree-mid {
        background-color:#aaa;
      }

      .tree-bot {
        background-color:#777;
      }

    </style>
    <link href="/bs/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-57-precomposed.png">
    -->
    <link rel="shortcut icon" href="/img/favicon.ico">
  </head>

  <body>

    <div class="container-narrow">

      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">Inorg Bisect <small class="muted">(beta)</small></a>
          <ul class="nav pull-right">
            {% if user is none %}
            <li><a href="{{uurl|e}}">Sign In</a></li>
            {% else %}
            <li><a>{{user}}</a></li>
            <li><a href="{{uurl|e}}">Sign Out</a></li>
            {% endif %}
            <li><a href="#about">About</a></li>
          </ul>
        </div>
      </div>

      <div class="jumbotron">
        <h1>Super Bisection!</h1>
        <p>decisions diagrams to help your users identify the source of
        their issues</p>
        <button type="button" class="btn btn-large btn-success">Create one Now!</button>
      </div>

      <div id="t-tmpl-r3-test" class="tree-container"></div>

      <div class="tree-list">
        <h3>Recently created bisections</h3>
        <ul>
          {% if tlist %}
          {% for t in tlist %}
          <li>
            <a href="/tree/{{t.id}}">{{t.head}}</a>
            <small class="muted">{{t.desc}}</small>
          </li>
          {% endfor %}
          {% endif %}
        </ul>
      </div>

      <footer id="about" class="footer">
        <div class="media pull-left text-left" style="margin-left:10px">
          <a class="pull-left" target="_blank" href="http://twitter.com/rksio">
            <img class="media-object img-circle" src="/img/rksio.jpg"
                 {#data-src="holder.js/64x64"#}
                 alt="@rksio" style="width: 64px; height: 64px;">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Bisect</h4>
            Bisect is is an experiment in knowledge sharing. <p>Rahul
            Saxena <a target="_blank"
            href="http://twitter.com/rksio">@rksio</a></p>
          </div>
        </div>
        <p class="muted">&middot; Made organically in Boulder, CO &middot;</p>
        <p><small>Inorg.org &copy; 2013</small></p>
    </footer>

    </div> <!-- /container -->

    <!-- Le templates
    ================================================== -->
    <script type="text/template" id="tmpl-tree">
      {% raw %}
      <div class="btn-toolbar">
        <button class="btn btn-small
        act-edit"><i class="icon-edit"></i> Edit Tree</button>
        <div class="btn-group pull-right">
          <button class="btn btn-small disabled
          act-save" disabled="disabled"><i class="icon-ok"></i> Save</button>
          <button class="btn btn-small disabled
          act-cancel" disabled="disabled"><i class="icon-remove"></i> Revert</button>
        </div>
      </div>
      <p class="on-edit text-info">
        <em>Select fields in decision tree and 'tap' or 'click' to edit them</em>
      </p>

      {{#with nodes}}
      <!-- <div id={{../id}} class="tree" data-id={{tree.id}}> -->
      <div class="tree" data-id={{tree.id}}>
        <span class="label label-info pull-right"></span>
        <h2 class="node-head">{{tree.head}}</h2>
        <p class="node-desc">{{tree.desc}}</p>

        <div class="row-fluid" data-height="0">
          <div class="span12 tree-elem tree-top" data-id={{n0.id}}>
            <span class="label label-info pull-right"></span>
            <h4 class="node-head">{{n0.head}}</h4>
            <p class="node-desc">{{n0.desc}}</p>
          </div>
        </div>

        <div class="row-fluid" data-height="1">
          <div class="span6 tree-elem tree-mid" data-id={{n1.id}}>
            <!--
            <div class="media">
              <span class="label label-warning pull-right">Modified</span>
              <a class="pull-left" href="#">
                <img class="media-object" data-src="holder.js/50x75"
                alt="64x64" style="width: 64px; height: 64px;">
              </a>
              <div class="media-body">
                <h4 class="media-heading">{{n1.head}}</h4>
                {{n1.desc}}
              </div>
            </div>
            -->
            <span class="label label-info pull-right"></span>
            <h4 class="node-head">{{n1.head}}</h4>
            <p class="node-desc">{{n1.desc}}</p>
            <span class="on-edit">
              <button class="btn btn-mini node-modify"
                      data-add-text='<i class="icon-plus-sign"></i> Add'
                      data-rem-text='<i class="icon-minus-sign"></i> Delete'>
                {{#if n3}}
                <i class="icon-minus-sign"></i> Delete
                {{else}}
                <i class="icon-plus-sign"></i> Add
                {{/if}}
              </button>
            </span>
          </div>
          <div class="span6 tree-elem tree-mid" data-id={{n2.id}}>
            <span class="label label-info pull-right"></span>
            <h4 class="node-head">{{n2.head}}</h4>
            <p class="node-desc">{{n2.desc}}</p>
            <span class="on-edit">
              <button class="btn btn-mini node-modify"
                      data-add-text='<i class="icon-plus-sign"></i> Add'
                      data-rem-text='<i class="icon-minus-sign"></i> Delete'>
                {{#if n5}}
                <i class="icon-minus-sign"></i> Delete
                {{else}}
                <i class="icon-plus-sign"></i> Add
                {{/if}}
              </button>
            </span>
          </div>
        </div>

        <div class="row-fluid" data-height="2">

          {{#if n3}}
          <div class="span3 tree-elem tree-bot" data-id={{n3.id}}>
            <h4 class="node-head">{{n3.head}}</h4>
            <p class="node-desc">{{n3.desc}}</p>
          </div>
          {{else}}
          <div class="span3 tree-elem tree-elem-empty tree-bot"
               data-id="3">
            <h4 class="node-head">Edit to add question</h4>
            <p class="node-desc">Edit to add a brief description</p>
          </div>
          {{/if}}

          {{#if n4}}
          <div class="span3 tree-elem tree-bot" data-id={{n4.id}}>
            <h4 class="node-head">{{n4.head}}</h4>
            <p class="node-desc">{{n4.desc}}</p>
          </div>
          {{else}}
          <div class="span3 tree-elem tree-elem-empty tree-bot"
               data-id="4">
            <h4 class="node-head">Edit to add question</h4>
            <p class="node-desc">Edit to add a brief description</p>
          </div>
          {{/if}}

          {{#if n5}}
          <div class="span3 tree-elem tree-bot" data-id={{n5.id}}>
            <h4 class="node-head">{{n5.head}}</h4>
            <p class="node-desc">{{n5.desc}}</p>
          </div>
          {{else}}
          <div class="span3 tree-elem tree-elem-empty tree-bot"
               data-id="5">
            <h4 class="node-head">Edit to add question</h4>
            <p class="node-desc">Edit to add a brief description</p>
          </div>
          {{/if}}

          {{#if n6}}
          <div class="span3 tree-elem tree-bot" data-id={{n6.id}}>
            <h4 class="node-head">{{n6.head}}</h4>
            <p class="node-desc">{{n6.desc}}</p>
          </div>
          {{else}}
          <div class="span3 tree-elem tree-elem-empty tree-bot"
               data-id="6">
            <h4 class="node-head">Edit to add question</h4>
            <p class="node-desc">Edit to add a brief description</p>
          </div>
          {{/if}}
        </div>
        {{/with}}
      </div>
      {% endraw %}
    </script>

    {#
    <script type="text/template" id="tmpl-tree1">
      {% raw %}
      <div class="btn-toolbar">
        <button class="btn btn-small act-edit"><i class="icon-edit"></i> Edit Tree</button>
        <div class="btn-group pull-right">
          <button class="btn btn-small act-save"><i class="icon-ok"></i> Save Changes</button>
          <button class="btn btn-small act-cancel"><i class="icon-remove"></i> Revert Changes</button>
        </div>
      </div>
      <p class="on-edit text-success">
        <em>Select fields in decision tree and 'tap' or 'click' to edit them</em>
      </p>

      <div id={{tree.id}} class="tree" data-id=-1>
        <span class="label label-info pull-right"></span>
        <h2 class="node-head">{{tree.head}}</h2>
        <p class="node-desc">{{tree.desc}}</p>
      </div>

      {{! For each Row  }}
      {{! For each Node }}
      {% endraw %}
    </script>

    <script type="text/template" id="tmpl-node">
      {% raw %}
      <div class="{{n.span}} {{n.level}} {{n.elem}}" data-id={{n.id}}>
        <span class="label label-info pull-right"></span>
        <h4 class="node-head">{{n.head}}</h4>
        <p class="node-desc">{{n.desc}}</p>
        <span class="on-edit">
          <button class="btn btn-mini node-modify"
                  data-add-text='<i class="icon-plus-sign"></i> Add'
                  data-rem-text='<i class="icon-minus-sign"></i> Delete'>
            {{#if n.child0}}
            <i class="icon-minus-sign"></i> Delete
            {{else}}
            <i class="icon-plus-sign"></i> Add
            {{/if}}
          </button>
        </span>
      </div>
      {% endraw %}
    </script>
    #}

   <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/bs/js/bootstrap.js"></script>

    <script src="/js/underscore-min.js"></script>
    <script src="/js/json2.js"></script>
    <script src="/js/backbone-min.js"></script>

    <script src="/js/handlebars.js"></script>
    {# <!-- <script src="/js/holder.js"></script> --> #}
    {# <!-- <script src="/d3/d3.v3.js"></script> --> #}
    <script src="/js/bisect-main.js"></script>

    <script type="text/javascript">
      jQuery(document).ready(function(){
      var this_tree = {{thistree}};
      mytreemodel = new TreeModel(this_tree?this_tree:new_tree);
      mytreeview = new TreeView({el:"#t-tmpl-r3-test", model: mytreemodel});
      myroute = new BisectRouter();
      Backbone.history.start({pushState: true});
      });
    </script>
  </body>
</html>
